.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em;
}

.titulo {
  color: rgba(9, 163, 79, 0.877);
  font-family: Kavoon;
}

.contImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin: 1em;
  border-radius: 10px;
  max-width: 40em;
  max-height: 40em;
}

.containerText {
  display: flex;
  flex-direction:center;
  margin: 2em;
  justify-content: flex-start;
}

.parraLargo {
  font-family: Itim;
  font-size: 20px;
  white-space: pre-line;
}

 